# Entorno virtual
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc

# Secretos y Configuración (¡No subir llaves de Azure!)
.env
.env.local

# Modelos de ML (Pesados)
src/ml_logic/models/*.pkl

# Frontend
node_modules/
.next/
out/